{%extends 'index.html'%}
{%block content%}
    <div class="header">
        <a href='' class="logo">MyBlog</a>
        <div class="header-right">
            <a href="{% url 'logout' %}">Logout</a>

        </div>
    </div>

    <h1> Welcome {{request.user.email}} </h1>
        <a href="create_blog">Create new Blog</a>
        {% for i in obj%}
        <div id = 'blog_page'>
            <span>
                <h2>{{i.title}}</h2>
                <p id = "post_content">{{i.body}}</p>
            </span>
            <span>
                <p><i>Author:{{i.author.email}}</i></p>
                <p><i>Last_updated at: {{i.date_posted}}</i></p>
            </span>
        </div>

{%endfor%}
{%endblock%}